*{
	margin: 0;
	padding: 0;
}
body{
	padding-top: 70px;
	background: #E6E6E6;
}
header{
	height: 70px;
	width: 100%;
	position: fixed;
	background: #00A6E3;
	top:0;
	left: 0;
	border-radius: 0 0 10px 10px;
	padding:15px;
	box-shadow: 0 2px 5px rgba(44, 62, 88, 0.15);
	display: block;
	z-index: 5;
	box-sizing:border-box;
}
header input{
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	border-radius: 5px 20px 20px 5px;
	background: rgba(255, 255, 255, 0.2);
	text-indent: 20px;
	float: left;
	color: #fff;
}
header input:focus{
	outline: 0;
}
header input::-webkit-input-placeholder{
	color: #fff;
}
/*
::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- 
   color: red;  
}
/*
::-moz-placeholder {  /* Firefox 19+ 
   color: red;  
}
/*
:-ms-input-placeholder {  
   color: red;  
}*/

button.add{
	position: absolute;
	right: 15px;
	top:15px;
	background: #fff;
	width: 40px;
	height: 40px;
	border:none;
	border-radius: 20px;
	font-size: 20px;
	color: #00A6E3;
	cursor: pointer;
}
button.add:focus{
	outline: 0;
}
ul.todo li{
	padding:15px;
	background: #fff;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0 2px 5px rgba(44, 62, 88, 0.15);
	position: relative;
}
.buttons{
	float: right;
	position: absolute;
	right: 0;
	top: 10px;
}
.buttons button{
	border:none;
	background: none;
	height: 30px;
	width: 50px;
	font-size: 20px;
	border-right: 2px solid #ddd;
}
.buttons button:focus{
	outline: 0;
}
.buttons button:last-child{
	border-right: none;
}
button.remove{
	color: #ddd;
}
button.remove:hover{
	color: #DB5151;
}
button.complate{
	color: #ddd;
}
button.complate:hover{
	color: #20A665;
}
#complated button.complate{
	color: #20A665;
}
#complated{
	padding: 40px 0 0 0;
	position: relative;
}
#complated:before{
	content: '';
	width: 50%;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 20px;
	left: 25%;
	/*margin: 0 0 0 -75px;*/
}
#todo:empty:after{
	content: 'You have nothing to-do!';
	margin-top: 15px;
}
#complated:empty:after{
	content: 'You have yet complate any tasks.';
}
#todo:after, #complated:after{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
	color: #aaa;
}

